@media only screen and (min-width: 992px) {

  header.home {

    .owl-carousel {

      .item {

        .content {


          .content-inner {
            padding: 0 5rem;


            .title {
              font-size: 2.4rem;
              /* identical to box height */
              letter-spacing: 0.04em;
            }

            .sub-title {
              margin-top: .5rem;
              font-size: 1.8rem;
              letter-spacing: 0.08em;
            }

            .desc {
              font-size: 1.1rem;
              width: 60%;
            }

          }
        }
      }
    }
  }

}