header {
  // margin-top: -4.6875rem;
  background: red;
  height: 100vh;
  width: 100vw;

  .header-item {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@import 'homeM';
@import 'homeL';
@import 'homeXL';