@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@300;400;600&display=swap");
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif !important;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0 calc(100vw * 0.24);
  }
}

@media only screen and (min-width: 992px) {
  body {
    padding: 0 calc(100vw * 0.32);
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 0 calc(100vw * 0.36);
  }
}

main.invitation section {
  overflow: hidden;
}

main.invitation section.cover {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
}

main.invitation section.cover .content-wrapper {
  height: 100%;
  padding: 1rem .5rem;
  border: 4px solid #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main.invitation section.cover .content-wrapper .logo-wrapper {
  width: 60%;
}

main.invitation section.cover .content-wrapper .logo-wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main.invitation section.cover .content-wrapper .title {
  margin-top: 2rem;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  color: #F5F5F5;
}

main.invitation section.cover .content-wrapper .title h1 {
  font-size: 3rem;
  letter-spacing: .08rem;
}

main.invitation section.kata-kata {
  width: 100%;
  height: 100vh;
  position: relative;
}

main.invitation section.kata-kata .graphic {
  position: absolute;
}

main.invitation section.kata-kata .graphic1 {
  top: 8%;
  height: 20rem;
}

main.invitation section.kata-kata .graphic2 {
  top: 25rem;
  right: -10%;
  width: 20rem;
}

main.invitation section.kata-kata .graphic3 {
  bottom: 0;
  right: 0;
  width: 12rem;
}

main.invitation section.kata-kata .content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main.invitation section.kata-kata .content-wrapper .box-content {
  margin-top: 4rem;
  border-radius: 16px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.6);
  background-blend-mode: soft-light;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  /* Note: backdrop-filter has minimal browser support */
  opacity: 1;
}

main.invitation section.kata-kata .content-wrapper .box-content .box-view {
  opacity: 1;
}

main.invitation section.kata-kata .content-wrapper .box-content .content-title {
  font-family: "Bebas Neue", cursive;
}

main.invitation section.kata-kata .content-wrapper .box-content .content-desc {
  line-height: 120%;
}

main.invitation section.lokasi {
  width: 100%;
  height: 100vh;
}

main.invitation section.lokasi .maps {
  width: 100%;
  height: 50vh;
  background: #1B1A17;
}

main.invitation section.lokasi .maps iframe {
  width: 100%;
  height: 100%;
}

main.invitation section.lokasi .alamat-wrapper {
  width: 100%;
  height: 50vh;
  padding: 1rem .8rem;
  background-color: #404244;
  color: #F5F5F5;
}

main.invitation section.lokasi .alamat-wrapper h2.title {
  font-family: "Bebas Neue", cursive;
  letter-spacing: .08rem;
}

main.invitation section.lokasi .alamat-wrapper .info-list .info-item {
  margin-bottom: 1rem;
}

main.invitation section.lokasi .alamat-wrapper .info-list .info-item .info-title h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

main.invitation section.lokasi .alamat-wrapper .info-list .info-item .info-desc {
  margin-top: .5rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

main.invitation section.rundown .timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

main.invitation section.rundown .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #006E51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

main.invitation section.rundown .container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

main.invitation section.rundown .container.left {
  left: 0;
}

main.invitation section.rundown .container.right {
  left: 50%;
}

main.invitation section.rundown .container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
}

main.invitation section.rundown .container.right::after {
  left: -8px;
}

main.invitation section.rundown .container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

main.invitation section.rundown .container.right::before {
  left: 8px;
}

main.invitation section.rundown .container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

main.invitation section.rundown .container.left .date {
  right: -75px;
}

main.invitation section.rundown .container.right .date {
  left: -75px;
}

main.invitation section.rundown .container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

main.invitation section.rundown .container.left .icon {
  right: 56px;
}

main.invitation section.rundown .container.right .icon {
  left: 56px;
}

main.invitation section.rundown .container .content {
  padding: 30px 90px 30px 30px;
  background: #F6D155;
  position: relative;
  border-radius: 0 500px 500px 0;
}

main.invitation section.rundown .container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

main.invitation section.rundown .container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

main.invitation section.rundown .container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  main.invitation section.rundown .timeline::after {
    left: 90px;
  }
  main.invitation section.rundown .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }
  main.invitation section.rundown .container.right {
    left: 0%;
  }
  main.invitation section.rundown .container.left::after,
  main.invitation section.rundown .container.right::after {
    left: 82px;
  }
  main.invitation section.rundown .container.left::before,
  main.invitation section.rundown .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }
  main.invitation section.rundown .container.left .date,
  main.invitation section.rundown .container.right .date {
    right: auto;
    left: 15px;
  }
  main.invitation section.rundown .container.left .icon,
  main.invitation section.rundown .container.right .icon {
    right: auto;
    left: 146px;
  }
  main.invitation section.rundown .container.left .content,
  main.invitation section.rundown .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}
/*# sourceMappingURL=invitation.css.map */