@media only screen and (min-width: 992px) {
  header.head {
    height: 50vh;

    .page-title {
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  section.team {
    width: 100%;

    .box-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .single-box {
        height: 350px;
      }
    }
  }
}