@media only screen and (min-width: 1200px) {

  section.team {
    width: 100%;

    .box-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .single-box {
        height: 320px;
      }
    }
  }
}