@media only screen and (min-width: 1200px) {

  section.team {
    width: 100%;

    .box-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .single-box {
        height: 320px;
      }
    }
  }

  section.latest-work.services {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .grid-item {
        width: 100%;
        height: 40vh;
      }
    }
  }

  // deetail

  section.project-detail {
    .subtitle {
      font-size: 1.5rem;

    }

    .project-info {

      .title {
        font-size: 4rem;
      }

      .tag {

        h6 {
          font-size: 1.25rem;
          position: relative;
        }

      }
    }

    .project-description {
      padding-top: 4rem;
      padding-bottom: 2rem;

      h6 {
        font-size: 1.5rem;
      }

    }

    .project-sponsor {
      padding-top: 4rem;
      padding-bottom: 2rem;

    }

    .project-trailer {
      padding-top: 4rem;
      padding-bottom: 2rem;

      .trailer-wrapper {
        height: 60vh;
      }
    }

    .project-role {

      .role-item {
        h6 {
          font-size: 1.5rem;
          font-family: $displayFont;
          letter-spacing: 0.08em;
        }

        p {
          font-size: 1.25rem;
        }
      }
    }
  }

  // services
  section.all-services {

    .single-service {

      .service-img {
        width: 100%;
        height: 14rem;

      }
    }

  }

}