@media only screen and (min-width: 992px) {
  header.head {
    height: 50vh;

    .page-title {
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  section.team {
    width: 100%;

    .box-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .single-box {
        height: 350px;
      }
    }
  }

  // deetail


  section.project-detail {
    animation: peak 3s ease-in-out;
    animation-delay: 5s;

    .subtitle {
      font-size: 1.25rem;

    }

    .project-info {
      .title {
        font-size: 2rem;
      }

      .tag {

        h6 {
          font-size: 1rem;
          position: relative;
        }

      }
    }

    .project-description {

      h6 {
        font-size: 1.5rem;
      }

    }

    .project-sponsor {

      .sponsor-wrapper {
        justify-content: space-between;
        align-items: center;

      }
    }

    .project-trailer {
      padding-top: 2rem;
      padding-bottom: 1.5rem;

      .trailer-wrapper {
        width: 100%;
        height: 50vh;
        object-fit: cover;
        background: #000;

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }

    .project-role {
      border: none;
      padding-top: 0;

      .role-item {
        h6 {
          font-size: 1.5rem;
          font-family: $displayFont;
          letter-spacing: 0.08em;
        }

        p {
          font-size: 1.25rem;
        }
      }
    }
  }

  // services
  section.all-services {

    .single-service {

      .service-img {
        width: 100%;
        height: 12rem;

      }
    }

  }
}