nav.my-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  // 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.6875rem;
  width: 100%;
  // 
  transition: all 0.5s ease-in-out;
  // 
  padding: 1rem 4rem;

  @media only screen and (min-width: 1200px) {
    padding: 1rem 8rem;
  }

  //
  @media screen and (max-width: 768px) {
    padding: 1rem 1rem;

  }

  a {
    font-family: $displayFont;
    text-decoration: none;
  }

  .only-mobile {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      width: 10%;
      height: 100%;
    }
  }

  .brand {
    height: 2.5rem;
    width: 30%;

    .black-logo {
      display: none;
    }

    .white-logo {
      display: block;
    }

    @media screen and (max-width: 768px) {
      height: 2rem;
      width: 80%;

      img {
        margin: 0 auto;
      }
    }

    img {
      text-align: center;
      height: 100%;
    }
  }

  .nav-links {
    margin-top: 1rem;
    width: 70%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    font-size: 1.25rem;
    letter-spacing: .1rem;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 768px) {
      margin-top: 0;
      position: absolute;
      top: 4.6875rem;
      right: -100%;
      width: 100%;
      height: calc(100vh - 4.6875rem);
      flex-direction: column;
      justify-content: center;
      gap: 4rem;

      li.divider {
        display: none;

      }

      @media only screen and (orientation: landscape) {
        justify-content: center;
        gap: .2rem;
      }
    }

    li {
      list-style: none;
    }

    li.divider {
      height: 1.2rem;
      width: 1.2px;
      background-color: $kayaWhite;
      vertical-align: middle;
    }

    .nav-item {
      position: relative;

      a {
        text-transform: uppercase;
        color: $kayaWhite;
      }

    }
  }

  .nav-links.show-links {
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    background-blend-mode: soft-light;
    backdrop-filter: blur(80px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 1rem;

    .nav-item {

      a {
        color: $kayaBlack;
      }

    }
  }

  .toggle-btn {
    width: 10%;
    font-size: 1rem;
    color: $kayaWhite;
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

}

nav.my-navbar.sticky {
  background: $kayaWhite;

  padding: 1rem 6rem;

  .brand {


    .white-logo {
      display: none;
    }

    .black-logo {
      display: block;
    }

  }

  @media only screen and (min-width: 1200px) {
    padding: 1rem 10rem;
  }


  @media screen and (max-width: 768px) {
    padding: 1rem 1.2rem;

  }


  .nav-links {

    li.divider {
      background-color: $kayaGray;
    }

    .nav-item {
      a {
        color: $kayaBlack;
      }
    }
  }

  .nav-links.show-links {
    background: $kayaGray;
    border-radius: 0;

    .nav-item {
      a {
        color: $kayaWhite;
      }
    }
  }

  .toggle-btn {
    color: $kayaBlack;
  }
}

// =====================================================
.blank-button {
  color: $kayaWhite;
  text-decoration: none;
  // font-size: 1rem;
  border: 1px solid $kayaWhite;
  padding: .5rem 1rem;
  font-family: $displayFont;
  letter-spacing: 0.06em;


  // medium screen
  @media only screen and (min-width: 768px) {
    font-size: 1.3rem;
    padding: .5rem 1.5rem;
  }

  // Extra large screen
  @media only screen and (min-width: 1200px) {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }

  transition: all 0.3s ease-in-out;

  &:hover {
    color: $kayaBlack;
    border: 1px solid $primaryColor;
    background: $primaryColor;
  }
}

// =====================================================
.section-title {
  font-family: $displayFont;
  font-size: 2.1rem;
  color: $kayaBlack;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 2rem;

  // medium screen
  @media only screen and (min-width: 768px) {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  // Extra large screen
  @media only screen and (min-width: 1200px) {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  &::after {
    content: '';
    display: block;
    width: 40%;
    height: 2px;
    background: $primaryColor;
    // margin-top: 1rem;
  }
}

// =====================================================
.form-group {

  .form-control,
  .form-select {
    border-radius: 0;

  }

  .form-select:focus,
  .form-control:focus {
    border-color: $primaryColor;
    box-shadow: 0 0 0 0.2rem rgba($color: $primaryColor, $alpha : 0.25);
  }

  label {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $kayaBlack;
  }


}


// =====================================================
.main-button {
  color: $kayaBlack;
  text-decoration: none;
  // font-size: 1rem;
  border: 0;
  padding: .5rem 1rem;
  font-family: $displayFont;
  letter-spacing: 0.06em;
  background: $primaryColor;


  // medium screen
  @media only screen and (min-width: 768px) {
    font-size: 1.3rem;
    padding: .5rem 1.5rem;
  }

  // Extra large screen
  @media only screen and (min-width: 1200px) {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }

  transition: all 0.3s ease-in-out;

  &:hover {
    color: $primaryColor;
    background: $kayaBlack;
  }
}

// =====================================================
// =====================================================
// =====================================================
// =====================================================