nav.my-navbar {
  position: fixed;
  top: 0;
  left: 0;
  // 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.6875rem;
  width: 100%;
  padding: 1rem 1.5rem;
  // background: green;

  a {
    color: $white;
    text-decoration: none;
  }

  .brand {

    img {
      height: 2.5rem;
    }
  }

  .nav-links {
    background: #000;
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: 768px) {
      // display: none;
      position: absolute;
      top: 4.6875rem;
      right: -100%;
      width: 100%;
      height: calc(100vh - 4.6875rem);
      flex-direction: column;
      justify-content: center;
      gap: 8rem;
    }

    li {
      list-style: none;
    }
  }

  .nav-links.show-links {
    right: 0;
  }

  .toggle-btn {
    font-size: 1.5rem;
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

}

nav.my-navbar.sticky {
  background: wheat;
}