@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@300;400;600&display=swap");
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

nav.my-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4.6875rem;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 1rem 4rem;
}

@media only screen and (min-width: 1200px) {
  nav.my-navbar {
    padding: 1rem 8rem;
  }
}

@media screen and (max-width: 768px) {
  nav.my-navbar {
    padding: 1rem 1rem;
  }
}

nav.my-navbar a {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
}

nav.my-navbar .brand {
  height: 2.5rem;
  width: 30%;
}

nav.my-navbar .brand img {
  height: 2.5rem;
}

nav.my-navbar .nav-links {
  margin-top: 1rem;
  width: 70%;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  nav.my-navbar .nav-links {
    margin-top: 0;
    position: absolute;
    top: 4.6875rem;
    right: -100%;
    width: 100%;
    height: calc(100vh - 4.6875rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 4rem;
  }
  nav.my-navbar .nav-links li.divider {
    display: none;
  }
}

nav.my-navbar .nav-links li {
  list-style: none;
}

nav.my-navbar .nav-links li.divider {
  height: 1.2rem;
  width: 1.2px;
  background-color: #F5F5F5;
  vertical-align: middle;
}

nav.my-navbar .nav-links .nav-item {
  position: relative;
}

nav.my-navbar .nav-links .nav-item a {
  text-transform: uppercase;
  color: #F5F5F5;
}

nav.my-navbar .nav-links.show-links {
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  background-blend-mode: soft-light;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1rem;
}

nav.my-navbar .nav-links.show-links .nav-item a {
  color: #1B1A17;
}

nav.my-navbar .toggle-btn {
  font-size: 1.5rem;
  color: #F5F5F5;
  display: none;
}

@media screen and (max-width: 768px) {
  nav.my-navbar .toggle-btn {
    display: block;
  }
}

nav.my-navbar.sticky {
  background: #F5F5F5;
  padding: 1rem 6rem;
}

@media only screen and (min-width: 1200px) {
  nav.my-navbar.sticky {
    padding: 1rem 10rem;
  }
}

@media screen and (max-width: 768px) {
  nav.my-navbar.sticky {
    padding: 1rem 1.2rem;
  }
}

nav.my-navbar.sticky .nav-links li.divider {
  background-color: #404244;
}

nav.my-navbar.sticky .nav-links .nav-item a {
  color: #1B1A17;
}

nav.my-navbar.sticky .nav-links.show-links {
  background: #404244;
  border-radius: 0;
}

nav.my-navbar.sticky .nav-links.show-links .nav-item a {
  color: #F5F5F5;
}

nav.my-navbar.sticky .toggle-btn {
  color: #1B1A17;
}

.blank-button {
  color: #F5F5F5;
  text-decoration: none;
  border: 1px solid #F5F5F5;
  padding: .5rem 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .blank-button {
    font-size: 1.3rem;
    padding: .5rem 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .blank-button {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

.blank-button:hover {
  color: #1B1A17;
  border: 1px solid #F2CF40;
  background: #F2CF40;
}

header {
  height: 100vh;
  width: 100%;
}

header .owl-carousel {
  height: 100vh;
  width: 100%;
}

header .owl-carousel .item {
  height: 100vh;
  width: 100%;
}

header .owl-carousel .item .content {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header .owl-carousel .item .content .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header .owl-carousel .item .content .content-inner {
  position: relative;
  z-index: 3;
  color: #F5F5F5;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}

header .owl-carousel .item .content .content-inner .title,
header .owl-carousel .item .content .content-inner .sub-title {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: 400;
}

header .owl-carousel .item .content .content-inner .title {
  font-size: 1.6rem;
  /* identical to box height */
  letter-spacing: 0.04em;
}

header .owl-carousel .item .content .content-inner .sub-title {
  margin-top: .5rem;
  font-size: 1.2rem;
  letter-spacing: 0.08em;
}

header .owl-carousel .item .content .content-inner .desc {
  margin-top: .5rem;
  font-size: .8rem;
}

header .owl-carousel .item .content .content-inner .btn-wrapper {
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  header .owl-carousel .item .content .content-inner {
    padding: 0 2rem;
  }
  header .owl-carousel .item .content .content-inner .title {
    font-size: 2rem;
    /* identical to box height */
    letter-spacing: 0.04em;
  }
  header .owl-carousel .item .content .content-inner .sub-title {
    margin-top: .5rem;
    font-size: 1.6rem;
    letter-spacing: 0.08em;
  }
  header .owl-carousel .item .content .content-inner .desc {
    font-size: 1rem;
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  header .owl-carousel .item .content .content-inner {
    padding: 0 5rem;
  }
  header .owl-carousel .item .content .content-inner .title {
    font-size: 2.4rem;
    /* identical to box height */
    letter-spacing: 0.04em;
  }
  header .owl-carousel .item .content .content-inner .sub-title {
    margin-top: .5rem;
    font-size: 1.8rem;
    letter-spacing: 0.08em;
  }
  header .owl-carousel .item .content .content-inner .desc {
    font-size: 1.1rem;
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  header .owl-carousel .item .content .content-inner {
    padding: 0 10rem;
  }
  header .owl-carousel .item .content .content-inner .title {
    font-size: 3rem;
    /* identical to box height */
    letter-spacing: 0.04em;
  }
  header .owl-carousel .item .content .content-inner .sub-title {
    margin-top: .5rem;
    font-size: 2rem;
    letter-spacing: 0.08em;
  }
  header .owl-carousel .item .content .content-inner .desc {
    font-size: 1.25rem;
    letter-spacing: 0.02em;
    width: 60%;
  }
}
/*# sourceMappingURL=main.css.map */