@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@300;400;600&display=swap');
@import 'colors';



body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

$displayFont : 'Bebas Neue',
cursive;

@import 'components';
@import 'home/home';