@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:wght@300;400;600&display=swap');
$displayFont : 'Bebas Neue',
cursive;
@import 'colors';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif !important;
  overflow-x: hidden;
  background-color: #ffffff;
}


@import 'locomotivescroll';
@import 'components';
@import 'home/home';
@import 'other/other';